{% extends 'base.html.twig' %}

{% block title %}Hello ListMeasurementsController!{% endblock %}

{% block viewData %}
    <table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">A침o</th>
        <th scope="col">Color</th>
        <th scope="col">Tipo Medici칩n</th>
        <th scope="col">Tipo Variaci칩n</th>
        <th scope="col">Temperatura</th>
        <th scope="col">Graduaci칩n</th>
        <th scope="col">Ph</th>
        <th scope="col">Observaciones</th>
        <th scope="col">Vino</th>
    </tr>
    </thead>
    {% for measurement in data.measurements %}
        <tr>
            <td>{{ measurement.id }}</td>
             <td>{{ measurement.characteristicsMeasurements.year }}</td>
             <td>{{ measurement.characteristicsMeasurements.colour }}</td>
             <td>{{ measurement.measurementType.name }}</td>
             <td>{{ measurement.varietyType.name }}</td>
             <td>{{ measurement.characteristicsMeasurements.temperature }}</td>
             <td>{{ measurement.characteristicsMeasurements.graduation }}</td>
             <td>{{ measurement.characteristicsMeasurements.ph }}</td>
             <td>{{ measurement.observations }}</td>
             <td>{{ measurement.vine }}</td>
        </tr>
    {% endfor %}

{% endblock viewData %}